
/*Generic Styles*/

body {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 10pt;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 35px;
}

.App-header {
  background-color: #222;
  height: auto;
  color: white;
  box-shadow: 2px 8px 5px 5px gray;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.search {
  width: 50%;
  border: 1px solid gray;
  border-radius: 2px;
  margin: auto;
  padding: 10px;
  box-shadow:  2px 2px 2px 2px gray;
}

/*Data Table Styles*/

table-display {
  text-align: center;
}

.tabled {
  padding: 15px;
}

table {
  border: 1px solid black;
  border-radius: 15px;
  padding: 4px;
  margin: auto;
  box-shadow: 2px 2px 2px 2px gray;
}


tr, td, th {
  border-radius: 5px;  
  border: 1px solid gray;
  padding: 5px;
}

td:hover {
  background-color: lightgray;
}

.inactive {
  color: black;
}

td.actions {
  background-color: lightgray;

}

tr.shade {
  background-color: lightblue;
  font-weight: bold;
}

/*Buttons*/

 button {
   border: 0;
   background-color: lightgray;
   font-size: 12px;
   font-family: Arial, Helvetica, sans-serif;

 }

 button:hover {
  color: blue;
  
 }

 /*Input*/
 input {
   font-family: 'Courier New', Courier, monospace;
   font-size: 10pt;
   font-weight: bold;
 }